run = "npm run replit-run-command"
entrypoint = "index.ts"

hidden = [".config"]
modules = ["python-3.11"]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"

[languages.typescript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[[ports]]
localPort = 8787
externalPort = 80

[[ports]]
localPort = 9229
externalPort = 3000
exposeLocalhost = true

[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "HF CLI"
mode = "sequential"
author = 12737802

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "curl -LsSf https://hf.co/cli/install.sh | bash"
